{% extends 'form_div_layout.html.twig' %}
<h1>dupa</h1>
{%- block form_widget_compound -%}
    <div class="alert-danger" {{ block('widget_container_attributes') }}>
        {%- if form.parent is empty -%}
            {{ form_errors(form) }}
        {%- endif -%}
        {{- block('form_rows') -}}
        {{- form_rest(form) -}}
    </div>
{%- endblock form_widget_compound -%}
{%- block form_row -%}
    <div class="form-group">
        {{- form_label(form) -}}
        {{- form_errors(form) -}}
        {{- form_widget(form) -}}
    </div>
{%- endblock form_row -%}