<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Sloth Invoices - Free invoice management system{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
    </head>
    <body>
        {% block body %}
            <div id="navbar" class="navbar-nav">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3">
                            <a class="logo" href="{{ path('home') }}"><img src="{{ asset('assets/vendor/voicein/images/logo.png') }}" /></a>
                        </div>
                        <div class="col-sm-5">
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                {{ knp_menu_render('AppBundle:Builder:mainMenu') }}
                            {% endif %}
                        </div>
                        <div class="col-sm-4">
                            <div id="authentication-links">
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                    <a class="profile-link nav-link" href="{{ path('fos_user_profile_show') }}"
                                       data-hover="{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}">
                                        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                                    </a>
                                    <a class="profile-link nav-link" href="{{ path('fos_user_security_logout') }}"
                                       data-hover="{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}">
                                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                    </a>
                                {% else %}
                                    <a class="profile-link nav-link" href="{{ path('fos_user_security_login') }}"
                                       data-hover="{{ 'layout.login'|trans({}, 'FOSUserBundle') }}">
                                        {{ 'layout.login'|trans({}, 'FOSUserBundle') }}
                                    </a>
                                    <a class="profile-link nav-link" href="{{ path('fos_user_registration_register') }}"
                                       data-hover="{{ 'layout.register'|trans({}, 'FOSUserBundle') }}">
                                        {{ 'layout.register'|trans({}, 'FOSUserBundle') }}
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row header">
                        <div class="navbar-header col-sm-2">&nbsp;</div>
                        <div class="navbar-header col-sm-1">
                            <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div><!--/.nav-collapse -->
            <div class="container">
                <div class="row">
                    {{ wo_render_breadcrumbs() }}
                    {{ myvar }}
                    <div class="col-sm-12">
                        {% for flash_message in app.session.flashbag.get('notice') %}
                            <div class="flash-notice alert alert-info" role="alert">
                                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                                <span class="sr-only">Info:</span>
                                {{ flash_message }}
                            </div>
                        {% endfor %}
                        {% for flash_message in app.session.flashbag.get('success') %}
                            <div class="flash-succes alert alert-success" role="alert">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                <span class="sr-only">Success:</span>
                                {{ flash_message }}
                            </div>
                        {% endfor %}
                        {% for flash_message in app.session.flashbag.get('error') %}
                            <div class="flash-error alert alert-danger" role="alert">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                <span class="sr-only">Error:</span>
                                {{ flash_message }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col-sm-12">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="container">
                    <p class="text-muted">&copy; 2015 - {{ "now" | date("Y") }} <a class="alert-link" href="http://www.expandingweb.com">Expanding Web Ltd</a></p>
                </div>
            </footer>
            {% block javascripts %}{% endblock %}
            <script src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/jquery-ui/ui/minified/core.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/jQuery.editable/src/jquery.editable.js') }}"></script>
            <script src="{{ asset('assets/vendor/jquery-ui/ui/minified/datepicker.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/tether/dist/js/tether.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/tether-drop/dist/js/drop.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/tether-tooltip/dist/js/tooltip.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/voicein/js/voicein.js') }}"></script>
        {% endblock %}
        <a href="https://github.com/marcinsdance/sloth-invoices" target="_blank">
            <img style="position: absolute; top: 0; right: 0; border: 0;" src="{{ asset('assets/vendor/voicein/images/forkme_right_darkblue_121621.png') }}" alt="Fork me on GitHub" />
        </a>
    </body>
</html>
