{% extends "base.html.twig" %}
{% block content %}
    <h1>Clients</h1>
    {% if profiles is empty %}
        <div class="row">
            <div class="col-sm-12">
                Please add a profile first before adding a client. <a href="{{ path('new-profile') }}">Add new profile</a>.
            </div>
        </div>
    {% elseif clients is empty %}
        <div class="row">
            <div class="col-sm-12">
                There are no clients yet. <a href="{{ path('new-client') }}">Add new client</a>.
            </div>
        </div>
    {% else %}
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Company Name</th>
                    <th>Telephone 1</th>
                    <th>Telephone 2</th>
                    <th>Email 1</th>
                    <th>Email 2</th>
                    <th>Language</th>
                </tr>
            </thead>
            <tbody>
                {% for client in clients %}
                    <tr>
                        <td>{{ client.companyName }}</td>
                        <td>{{ client.telephone1 }}</td>
                        <td>{{ client.telephone2 }}</td>
                        <td>{{ client.email1 }}</td>
                        <td>{{ client.email2 }}</td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-info" href="{{ path('edit-client',{ 'clientId' : client.id }) }}">Edit</a>
                                <a class="btn btn-danger" href="{{ path('delete-client',{ 'clientId' : client.id }) }}">Delete</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-primary" href="{{ path('new-client') }}">Add new client</a>
    {% endif %}
{% endblock %}