{% extends "base.html.twig" %}
{% block content %}
    <h1>Edit Item Id {{ item.id }}</h1>
    <a href="{{ path('invoice', {'invoiceId': invoice.id}) }}">Go Back to Invoice</a>
    {% form_theme form 'form/form_div_layout.html.twig' %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}