{% for flash_message in app.session.flashbag.get('notice') %}
    <div class="flash-notice">
        {{ flash_message }}
    </div>
{% endfor %}
{% for flash_message in app.session.flashbag.get('success') %}
    <div class="flash-success">
        {{ flash_message }}
    </div>
{% endfor %}
{% for flash_message in app.session.flashbag.get('error') %}
    <div class="flash-error">
        {{ flash_message }}
    </div>
{% endfor %}

<table class="flash-error">
    <tr><td>Id</td><td>Client</td><td>Number</td><td>Date</td></tr>
    {% for invoice in invoices %}
        <tr><td>{{ invoice.id }}</td><td>{{ invoice.client }}</td><td>{{ invoice.number }}</td><td>{{ invoice.date|date('Y-m-d') }}</td></tr>
    {% endfor %}
    </table>
