{% extends "base.html.twig" %}
{% block content %}
    <h1>Invoices</h1>
    {% if profiles is empty %}
        <div class="row">
            <div class="col-sm-12">
                Please set up a profile and add a client before you add an invoice. <a href="{{ path('new-profile') }}">Add profile</a>.
            </div>
        </div>
    {% elseif invoices is empty %}
        <div class="row">
            <div class="col-sm-12">
                There are no invoices yet. <a href="{{ path('new-invoice') }}">Add new invoice</a>.
            </div>
        </div>
    {% else %}
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Client</th>
                    <th>Number</th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for invoice in invoices %}
                    <tr>
                        <td>{{ invoice.id }}</td>
                        <td>{{ invoice.client }}</td>
                        <td>{{ invoice.number }}</td>
                        <td>{{ invoice.date|date('Y-m-d') }}</td>
                        <td><a href="invoice/edit/{{ invoice.id }}">Edit</a> |
                            <a href="invoice/id/{{ invoice.id }}/items">Items</a> |
                            <a href="invoice/delete/{{ invoice.id }}">Delete</a> |
                            <a href="invoice/preview/{{ invoice.id }}">Preview</a> |
                            <a href="invoice/pdf/{{ invoice.id }}">Pdf</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('new-invoice') }}">Add new invoice</a>
    {% endif %}
{% endblock %}