{% extends "base.html.twig" %}
{% block content %}
<table class="flash-error">
    <tr><td>Id</td><td>Client</td><td>Number</td><td>Date</td><td>&nbsp;</td></tr>
    {% for invoice in invoices %}
        <tr>
            <td>{{ invoice.id }}</td>
            <td>{{ invoice.client }}</td>
            <td>{{ invoice.number }}</td>
            <td>{{ invoice.date|date('Y-m-d') }}</td>
            <td><a href="invoice/id/{{ invoice.id }}">Edit</a></td>
        </tr>
    {% endfor %}
</table>
{% endblock %}