{% for flash_message in app.session.flashbag.get('notice') %}
    <div class="flash-notice">
        {{ flash_message }}
    </div>
{% endfor %}
{% for flash_message in app.session.flashbag.get('success') %}
    <div class="flash-success">
        {{ flash_message }}
    </div>
{% endfor %}
{% for flash_message in app.session.flashbag.get('error') %}
    <div class="flash-error">
        {{ flash_message }}
    </div>
{% endfor %}

{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}